.container {
  display: flex !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
  animation: bgMovement linear 2s infinite alternate;

}

h1 {
  text-shadow: 3px 1px 3px black;
  margin: auto !important;
  animation: textMovement linear 2s infinite alternate;
  color: #B388FF;
}

@keyframes textMovement {
  0% {
    color: #B388FF;
    transform: scale(1, 1);
    opacity: 0;
  }
  50% {
    color: #69F0AE;
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    color: #B388FF;
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes bgMovement {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
